.main-footer {
  background-color: $footer-bkg;
  padding: 10px 0;
  color: #fff;
  .row {
    float: left;
    padding-top: 50px;

  .address {
     padding-top: 10px;
    p {
      font-size: 14px;
      padding: 20px;
      a {
        color: #fff;
        margin-bottom: 10px;
        display: inline-block;
      }
    }
  }
}

}
.form-section {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 60px;

  .btn {
    color: $main-color;
  }
}
.footer-bottom {
  padding: 15px 0;
  .soc-net {
    text-align: center;
    li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 10px;
      }
      a {
        display: block;
        width: 40px;
        height: 40px;
        text-indent: -9999px;
        background-size: cover;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;

        &.fb {
          background-image: url("../images/facebook.png");
        }
        &.tw {
          background-image: url("../images/twitter.png");
        }
        &.in {
          background-image: url("../images/instagram.png");
        }
        &.yt {
          background-image: url("../images/youtube.png");
        }
        &:hover {
          opacity: .8;
        }
      }
    }
  }
  .logo {
    float: right;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    margin: 0 10px 10px 0;
  }
}
@media (min-width: 768px) {
  #footer {
    padding-top: 40px;
    display: none;
    .row {
      .address {
        h3 {
          font-size: 30px;
          text-transform: uppercase;
          text-align: center;
        }
        p {
          font-size: 16px;
        }
      }
    }
    .form-section {

    }
  }
  #footer-bottom {
    display: none;
  }
}
